.dashboard-container {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 480px;
  margin: auto;
  display: block;
}

.dashboard {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}
